<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Role</th>
        <th>OpenCount</th>
        <th>CreateTime</th>
        <th>UpdateTime</th>
    </tr>
    {% for user in user_list %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.user_name }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.open_count }}</td>
            <td>{{ user.create_time }}</td>
            <td>{{ user.update_time }}</td>
        </tr>
    {% endfor %}
</table>
